<section id="stats">
  <div class="stat clearfix" id="burgers">
    <div class="info">
      <h2><strong>Jeff:</strong> Times gone to In-n-Out Burger in 2012</h2>
      <h3><%= @jeff_in_n_out_this_year %></h3>
    </div>
    <div class="graph">
    </div>
  </div>
</section>

<style type="text/css">
  .axis path,
  .axis line {
      fill: none;
      stroke: #ccc;
      shape-rendering: crispEdges;
  }
  .axis text {
      font-family: sans-serif;
      font-size: 11px;
      color: red;
  }
</style>

<script type="text/javascript">
  
  var dataset = Array();
  <%
  @burgers.each do |b|
    %>
    dataset.push(<%= "[#{b.join(',')}]" %>);
    <%
  end
  %>

/*     var dataset = [[2012, 1, 30], [2012, 3, 19], [2012, 3, 25], [2012, 3, 28]]; */
  
  // Layout
  
  var w = 650;
  var h = 140;
  var padding = 30;
  
  // Helpers
  
  var format = d3.time.format("%B");
  var format2 = d3.time.format("%Y-%m-%d");
  
  // Scales
  
  var xScale = d3.time.scale()
    .domain([
      d3.min(dataset, 
        function(d) { 
          var minDate = new Date(2012, 0, 1);
          return minDate.getTime();
        }
      ), 
      d3.max(dataset, 
        function(d) { 
          var maxDate = new Date(d[0], d[1], d[2]);
          return maxDate.getTime();
        }
      )])
    .range([0 + padding, w - padding]);
    
  // Axes
    
  var xAxis = d3.svg.axis()
    .scale(xScale)
    .orient("bottom")
    .tickFormat(format);   
  
  // Begin construction
  
  var svg = d3.select("#burgers .graph")
    .append("svg")
    .attr("width", w)
    .attr("height", h);
    
  svg.selectAll("circle")
    .data(dataset)
    .enter()
    .append("circle")
    .attr("cx", function(d) {
      var cxDate = new Date(d[0], d[1], d[2]);
      return xScale(cxDate);
    })
    .attr("cy", function(d) {
      return 50;
    })
    .attr("r", function(d) {
      return 5;
    })
    .style("fill", "#E42217")
    .style("stroke", "#222")
    .style("stroke-width", 1.5);
      
/*
    svg.selectAll("text")
      .data(dataset)
      .enter()
      .append("text")
      .text(function(d) {
        return format2(new Date(d[0], d[1], d[2]));
      })
      .attr("x", function(d) {
        return xScale(new Date(d[0], d[1], d[2])) - 30;
      })
      .attr("y", function(d) {
        return 120;
      })
      .attr("font-family", "sans-serif")
      .attr("font-size", "11px")
      .attr("fill", "red");
*/

    svg.append("g")
      .attr("class", "axis")
      .attr("transform", "translate(0," + (h - padding) + ")")
      .call(xAxis);
/*       
    svg.append("g")
      .attr("class", "axis")
      .attr("transform", "translate(" + padding + ",0)")
      .call(yAxis);
*/
  
</script>