<table class="karma_list">
  <tbody><tr>
    <th>Name</th>
    <th>Points</th>
  </tr>

  <tr>
    <td><h2>workout</h2></td>
    <td>+4.0</td>
  </tr>
  <tr>
    <td><h2>drink</h2></td>
    <td>-2.0</td>
  </tr>
  <tr>
    <td><h2>race</h2></td>
    <td>+10.0</td>

  </tr>
  <tr>
    <td><h2>laundry</h2></td>
    <td>+2.0</td>
  </tr>
  <tr>
    <td><h2>book</h2></td>
    <td>+10.0</td>
  </tr>
  <tr>
    <td><h2>volunteer</h2></td>
    <td>+3.0</td>
  </tr>
  <tr>
    <td><h2>push up</h2></td>
    <td>+0.05</td>
  </tr>
  <tr>
    <td><h2>inbox zero</h2></td>
    <td>+5.0</td>
  </tr>
</tbody></table>