      <div class="record clearfix" style="
      background-color: hsl(239, 80%, 60%);
        ">
        <div class="timestamp">
          10:27PM
        </div>
          <a href="" class="cat" style="background-color: hsl(239, 60%, 25%); border-top: solid 1px hsl(239, 80%, 20%); border-bottom: solid 1px hsl(239, 80%, 80%);">
            
              movie
</a>          <a href="" class="cat" style="background-color: hsl(239, 60%, 25%); border-top: solid 1px hsl(239, 80%, 20%); border-bottom: solid 1px hsl(239, 80%, 80%);">
            
              The Third Man
</a>         
         
      </div>
      <div class="record clearfix" style="
      background-color: hsl(231, 80%, 60%);
        ">
        <div class="timestamp">
          09:41PM
        </div>
          <a href="" class="cat" style="background-color: hsl(231, 60%, 25%); border-top: solid 1px hsl(231, 80%, 20%); border-bottom: solid 1px hsl(231, 80%, 80%);">
            1
              drink
</a>          <a href="" class="cat" style="background-color: hsl(231, 60%, 25%); border-top: solid 1px hsl(231, 80%, 20%); border-bottom: solid 1px hsl(231, 80%, 80%);">
            
              Long Trail Double Bag
</a>         
         
      </div>
      <div class="record clearfix" style="
      background-color: hsl(127, 80%, 60%);
        ">
        <div class="timestamp">
          11:52AM
        </div>
          <a href="" class="cat" style="background-color: hsl(127, 60%, 25%); border-top: solid 1px hsl(127, 80%, 20%); border-bottom: solid 1px hsl(127, 80%, 80%);">
            
              lunch
</a>          <a href="" class="cat" style="background-color: hsl(127, 60%, 25%); border-top: solid 1px hsl(127, 80%, 20%); border-bottom: solid 1px hsl(127, 80%, 80%);">
            
              Panera Bread
</a>          <a href="" class="cat" style="background-color: hsl(127, 60%, 25%); border-top: solid 1px hsl(127, 80%, 20%); border-bottom: solid 1px hsl(127, 80%, 80%);">
            
              Jamie Freeman
</a>         
         
      </div>
      <div class="record clearfix" style="
      background-color: hsl(97, 80%, 60%);
        ">
        <div class="timestamp">
          09:04AM
        </div>
          <a href="" class="cat" style="background-color: hsl(97, 60%, 25%); border-top: solid 1px hsl(97, 80%, 20%); border-bottom: solid 1px hsl(97, 80%, 80%);">
            
              meds
</a>          <a href="" class="cat" style="background-color: hsl(97, 60%, 25%); border-top: solid 1px hsl(97, 80%, 20%); border-bottom: solid 1px hsl(97, 80%, 80%);">
            
              Ibuprofen
</a>          <a href="" class="cat" style="background-color: hsl(97, 60%, 25%); border-top: solid 1px hsl(97, 80%, 20%); border-bottom: solid 1px hsl(97, 80%, 80%);">
            400
              mgs
</a>         
         
      </div>
      <div class="record clearfix" style="
      background-color: hsl(88, 80%, 60%);
        ">
        <div class="timestamp">
          08:15AM
        </div>
          <a href="" class="cat" style="background-color: hsl(88, 60%, 25%); border-top: solid 1px hsl(88, 80%, 20%); border-bottom: solid 1px hsl(88, 80%, 80%);">
            
              workout
</a>          <a href="" class="cat" style="background-color: hsl(88, 60%, 25%); border-top: solid 1px hsl(88, 80%, 20%); border-bottom: solid 1px hsl(88, 80%, 80%);">
            
              run
</a>          <a href="" class="cat" style="background-color: hsl(88, 60%, 25%); border-top: solid 1px hsl(88, 80%, 20%); border-bottom: solid 1px hsl(88, 80%, 80%);">
            3.4
              miles
</a>          <a href="" class="cat" style="background-color: hsl(88, 60%, 25%); border-top: solid 1px hsl(88, 80%, 20%); border-bottom: solid 1px hsl(88, 80%, 80%);">
            
              Sand Hill Loop
</a>         
         
      </div>