
<div class="boxes clearfix mfb">
    <div class="blocks clearfix">
        <div class="day " style="" data-date="2013-04-28"></div>
        <div class="day " style="" data-date="2013-04-29"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-04-30"></div>
        <div class="day " style="" data-date="2013-05-01"></div>
        <div class="day " style="" data-date="2013-05-02"></div>
        <div class="day " style="" data-date="2013-05-03"></div>
        <div class="day " style="" data-date="2013-05-04"></div>
        <div class="day " style="" data-date="2013-05-05"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-06"></div>
        <div class="day " style="" data-date="2013-05-07"></div>
        <div class="day " style="" data-date="2013-05-08"></div>
        <div class="day " style="" data-date="2013-05-09"></div>
        <div class="day " style="" data-date="2013-05-10"></div>
        <div class="day " style="" data-date="2013-05-11"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-12"></div>
        <div class="day " style="" data-date="2013-05-13"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-14"></div>
        <div class="day " style="" data-date="2013-05-15"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-16"></div>
        <div class="day " style="" data-date="2013-05-17"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-18"></div>
        <div class="day " style="" data-date="2013-05-19"></div>
        <div class="day " style="" data-date="2013-05-20"></div>
        <div class="day " style="" data-date="2013-05-21"></div>
        <div class="day " style="" data-date="2013-05-22"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-23"></div>
        <div class="day " style="" data-date="2013-05-24"></div>
        <div class="day " style="" data-date="2013-05-25"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-26"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-05-27"></div>
        <div class="day " style="" data-date="2013-05-28"></div>
        <div class="day " style="" data-date="2013-05-29"></div>
        <div class="day " style="" data-date="2013-05-30"></div>
        <div class="day " style="" data-date="2013-05-31"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-01"></div>
        <div class="day " style="" data-date="2013-06-02"></div>
        <div class="day " style="" data-date="2013-06-03"></div>
        <div class="day " style="" data-date="2013-06-04"></div>
        <div class="day " style="" data-date="2013-06-05"></div>
        <div class="day " style="" data-date="2013-06-06"></div>
        <div class="day " style="" data-date="2013-06-07"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-08"></div>
        <div class="day " style="" data-date="2013-06-09"></div>
        <div class="day " style="" data-date="2013-06-10"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-11"></div>
        <div class="day " style="" data-date="2013-06-12"></div>
        <div class="day " style="" data-date="2013-06-13"></div>
        <div class="day " style="" data-date="2013-06-14"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-15"></div>
        <div class="day " style="" data-date="2013-06-16"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-17"></div>
        <div class="day " style="" data-date="2013-06-18"></div>
        <div class="day " style="" data-date="2013-06-19"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-20"></div>
        <div class="day " style="" data-date="2013-06-21"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-22"></div>
        <div class="day " style="" data-date="2013-06-23"></div>
        <div class="day " style="" data-date="2013-06-24"></div>
        <div class="day " style="background-color: #96b4fd;" data-date="2013-06-25"></div>
        <div class="day " style="" data-date="2013-06-26"></div>
    </div>
    <div class="blocks clearfix">
        <div class="day " style="" data-date="2013-04-28"></div>
        <div class="day " style="" data-date="2013-04-29"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-04-30"></div>
        <div class="day " style="" data-date="2013-05-01"></div>
        <div class="day " style="" data-date="2013-05-02"></div>
        <div class="day " style="" data-date="2013-05-03"></div>
        <div class="day " style="" data-date="2013-05-04"></div>
        <div class="day " style="" data-date="2013-05-05"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-05-06"></div>
        <div class="day " style="" data-date="2013-05-07"></div>
        <div class="day " style="" data-date="2013-05-08"></div>
        <div class="day " style="" data-date="2013-05-09"></div>
        <div class="day " style="" data-date="2013-05-10"></div>
        <div class="day " style="" data-date="2013-05-11"></div>
        <div class="day " style="" data-date="2013-05-12"></div>
        <div class="day " style="" data-date="2013-05-13"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-05-14"></div>
        <div class="day " style="" data-date="2013-05-15"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-05-16"></div>
        <div class="day " style="" data-date="2013-05-17"></div>
        <div class="day " style="" data-date="2013-05-18"></div>
        <div class="day " style="" data-date="2013-05-19"></div>
        <div class="day " style="" data-date="2013-05-20"></div>
        <div class="day " style="" data-date="2013-05-21"></div>
        <div class="day " style="" data-date="2013-05-22"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-05-23"></div>
        <div class="day " style="" data-date="2013-05-24"></div>
        <div class="day " style="" data-date="2013-05-25"></div>
        <div class="day " style="" data-date="2013-05-26"></div>
        <div class="day " style="" data-date="2013-05-27"></div>
        <div class="day " style="" data-date="2013-05-28"></div>
        <div class="day " style="" data-date="2013-05-29"></div>
        <div class="day " style="" data-date="2013-05-30"></div>
        <div class="day " style="" data-date="2013-05-31"></div>
        <div class="day " style="" data-date="2013-06-01"></div>
        <div class="day " style="" data-date="2013-06-02"></div>
        <div class="day " style="" data-date="2013-06-03"></div>
        <div class="day " style="" data-date="2013-06-04"></div>
        <div class="day " style="" data-date="2013-06-05"></div>
        <div class="day " style="" data-date="2013-06-06"></div>
        <div class="day " style="" data-date="2013-06-07"></div>
        <div class="day " style="" data-date="2013-06-08"></div>
        <div class="day " style="" data-date="2013-06-09"></div>
        <div class="day " style="" data-date="2013-06-10"></div>
        <div class="day " style="" data-date="2013-06-11"></div>
        <div class="day " style="" data-date="2013-06-12"></div>
        <div class="day " style="" data-date="2013-06-13"></div>
        <div class="day " style="" data-date="2013-06-14"></div>
        <div class="day " style="" data-date="2013-06-15"></div>
        <div class="day " style="" data-date="2013-06-16"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-06-17"></div>
        <div class="day " style="" data-date="2013-06-18"></div>
        <div class="day " style="" data-date="2013-06-19"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-06-20"></div>
        <div class="day " style="" data-date="2013-06-21"></div>
        <div class="day " style="" data-date="2013-06-22"></div>
        <div class="day " style="" data-date="2013-06-23"></div>
        <div class="day " style="" data-date="2013-06-24"></div>
        <div class="day " style="background-color: #032780;" data-date="2013-06-25"></div>
        <div class="day " style="" data-date="2013-06-26"></div>
    </div>
    <div class="blocks clearfix">
        <div class="day " style="" data-date="2013-04-28"></div>
        <div class="day " style="" data-date="2013-04-29"></div>
        <div class="day " style="" data-date="2013-04-30"></div>
        <div class="day " style="" data-date="2013-05-01"></div>
        <div class="day " style="" data-date="2013-05-02"></div>
        <div class="day " style="" data-date="2013-05-03"></div>
        <div class="day " style="" data-date="2013-05-04"></div>
        <div class="day " style="" data-date="2013-05-05"></div>
        <div class="day " style="" data-date="2013-05-06"></div>
        <div class="day " style="" data-date="2013-05-07"></div>
        <div class="day " style="" data-date="2013-05-08"></div>
        <div class="day " style="" data-date="2013-05-09"></div>
        <div class="day " style="" data-date="2013-05-10"></div>
        <div class="day " style="" data-date="2013-05-11"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-05-12"></div>
        <div class="day " style="" data-date="2013-05-13"></div>
        <div class="day " style="" data-date="2013-05-14"></div>
        <div class="day " style="" data-date="2013-05-15"></div>
        <div class="day " style="" data-date="2013-05-16"></div>
        <div class="day " style="" data-date="2013-05-17"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-05-18"></div>
        <div class="day " style="" data-date="2013-05-19"></div>
        <div class="day " style="" data-date="2013-05-20"></div>
        <div class="day " style="" data-date="2013-05-21"></div>
        <div class="day " style="" data-date="2013-05-22"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-05-23"></div>
        <div class="day " style="" data-date="2013-05-24"></div>
        <div class="day " style="" data-date="2013-05-25"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-05-26"></div>
        <div class="day " style="" data-date="2013-05-27"></div>
        <div class="day " style="" data-date="2013-05-28"></div>
        <div class="day " style="" data-date="2013-05-29"></div>
        <div class="day " style="" data-date="2013-05-30"></div>
        <div class="day " style="" data-date="2013-05-31"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-06-01"></div>
        <div class="day " style="" data-date="2013-06-02"></div>
        <div class="day " style="" data-date="2013-06-03"></div>
        <div class="day " style="" data-date="2013-06-04"></div>
        <div class="day " style="" data-date="2013-06-05"></div>
        <div class="day " style="" data-date="2013-06-06"></div>
        <div class="day " style="" data-date="2013-06-07"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-06-08"></div>
        <div class="day " style="" data-date="2013-06-09"></div>
        <div class="day " style="" data-date="2013-06-10"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-06-11"></div>
        <div class="day " style="" data-date="2013-06-12"></div>
        <div class="day " style="" data-date="2013-06-13"></div>
        <div class="day " style="" data-date="2013-06-14"></div>
        <div class="day " style="" data-date="2013-06-15"></div>
        <div class="day " style="" data-date="2013-06-16"></div>
        <div class="day " style="" data-date="2013-06-17"></div>
        <div class="day " style="" data-date="2013-06-18"></div>
        <div class="day " style="" data-date="2013-06-19"></div>
        <div class="day " style="" data-date="2013-06-20"></div>
        <div class="day " style="" data-date="2013-06-21"></div>
        <div class="day " style="background-color: #009942;" data-date="2013-06-22"></div>
        <div class="day " style="" data-date="2013-06-23"></div>
        <div class="day " style="" data-date="2013-06-24"></div>
        <div class="day " style="" data-date="2013-06-25"></div>
        <div class="day " style="" data-date="2013-06-26"></div>
    </div>
    <div class="blocks clearfix">
        <div class="day " style="" data-date="2013-04-28"></div>
        <div class="day " style="" data-date="2013-04-29"></div>
        <div class="day " style="" data-date="2013-04-30"></div>
        <div class="day " style="" data-date="2013-05-01"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-05-02"></div>
        <div class="day " style="" data-date="2013-05-03"></div>
        <div class="day " style="" data-date="2013-05-04"></div>
        <div class="day " style="" data-date="2013-05-05"></div>
        <div class="day " style="" data-date="2013-05-06"></div>
        <div class="day " style="" data-date="2013-05-07"></div>
        <div class="day " style="" data-date="2013-05-08"></div>
        <div class="day " style="" data-date="2013-05-09"></div>
        <div class="day " style="" data-date="2013-05-10"></div>
        <div class="day " style="" data-date="2013-05-11"></div>
        <div class="day " style="" data-date="2013-05-12"></div>
        <div class="day " style="" data-date="2013-05-13"></div>
        <div class="day " style="" data-date="2013-05-14"></div>
        <div class="day " style="" data-date="2013-05-15"></div>
        <div class="day " style="" data-date="2013-05-16"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-05-17"></div>
        <div class="day " style="" data-date="2013-05-18"></div>
        <div class="day " style="" data-date="2013-05-19"></div>
        <div class="day " style="" data-date="2013-05-20"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-05-21"></div>
        <div class="day " style="" data-date="2013-05-22"></div>
        <div class="day " style="" data-date="2013-05-23"></div>
        <div class="day " style="" data-date="2013-05-24"></div>
        <div class="day " style="" data-date="2013-05-25"></div>
        <div class="day " style="" data-date="2013-05-26"></div>
        <div class="day " style="" data-date="2013-05-27"></div>
        <div class="day " style="" data-date="2013-05-28"></div>
        <div class="day " style="" data-date="2013-05-29"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-05-30"></div>
        <div class="day " style="" data-date="2013-05-31"></div>
        <div class="day " style="" data-date="2013-06-01"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-02"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-03"></div>
        <div class="day " style="" data-date="2013-06-04"></div>
        <div class="day " style="" data-date="2013-06-05"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-06"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-07"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-08"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-09"></div>
        <div class="day " style="" data-date="2013-06-10"></div>
        <div class="day " style="" data-date="2013-06-11"></div>
        <div class="day " style="" data-date="2013-06-12"></div>
        <div class="day " style="" data-date="2013-06-13"></div>
        <div class="day " style="" data-date="2013-06-14"></div>
        <div class="day " style="" data-date="2013-06-15"></div>
        <div class="day " style="" data-date="2013-06-16"></div>
        <div class="day " style="" data-date="2013-06-17"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-18"></div>
        <div class="day " style="" data-date="2013-06-19"></div>
        <div class="day " style="" data-date="2013-06-20"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-21"></div>
        <div class="day " style="" data-date="2013-06-22"></div>
        <div class="day " style="background-color: #D42627;" data-date="2013-06-23"></div>
        <div class="day " style="" data-date="2013-06-24"></div>
        <div class="day " style="" data-date="2013-06-25"></div>
        <div class="day " style="" data-date="2013-06-26"></div>
    </div>
</div>

<table class="trends mfy">
    <tbody><tr class="trend" style="border-left: solid 8px #96b4fd;">
      <td class="pf">
        <h2 class="left fixed-width-6">workout</h2>
      </td>
        <td class="pf">
          <div class="hefty">1.88</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 16 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">2.25</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 8 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">2.0</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 4 weeks</strong></div>
        </td>
    
    </tr><tr class="trend" style="border-left: solid 8px #032780;">
      <td class="pf">
        <h2 class="left fixed-width-6">swim</h2>
      </td>
        <td class="pf">
          <div class="hefty">1.25</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 16 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">1.0</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 8 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">0.75</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 4 weeks</strong></div>
        </td>
    
    </tr><tr class="trend" style="border-left: solid 8px #009942;">
      <td class="pf">
        <h2 class="left fixed-width-6">run</h2>
      </td>
        <td class="pf">
          <div class="hefty">0.63</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 16 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">1.0</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 8 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">1.0</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 4 weeks</strong></div>
        </td>
    
    </tr>

<tr class="trend" style="border-left: solid 8px #D42627;">
      <td class="pf">
        <h2 class="left fixed-width-6">drink</h2>
      </td>
        <td class="pf">
          <div class="hefty">0.94</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 16 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">1.63</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 8 weeks</strong></div>
        </td>
        <td class="pf">
          <div class="hefty">2.5</div>
          <div class="tiny lighter">per week</div>
          <div class="small mdt"><strong>Last 4 weeks</strong></div>
        </td>
    
    </tr>

</tbody></table>

<h2 class="mlb">Quantified Self, as simple as possible. <a href="/guide" class="psl">Guide</a> <a href="/signup" class="psl">Sign up</a></h2>
