    <script>
var block_data = [{"row":1,"col":1,"color":"#eee"},{"row":1,"col":2,"color":"#eee"},{"row":1,"col":3,"color":"#eee"},{"row":1,"col":4,"color":"#e65679"},{"row":1,"col":5,"color":"#eee"},{"row":1,"col":6,"color":"#e65679"},{"row":1,"col":7,"color":"#e65679"},{"row":1,"col":8,"color":"#eee"},{"row":1,"col":9,"color":"#eee"},{"row":1,"col":10,"color":"#e65679"},{"row":1,"col":11,"color":"#eee"},{"row":1,"col":12,"color":"#eee"},{"row":1,"col":13,"color":"#eee"},{"row":1,"col":14,"color":"#eee"},{"row":1,"col":15,"color":"#eee"},{"row":1,"col":16,"color":"#e65679"},{"row":1,"col":17,"color":"#eee"},{"row":1,"col":18,"color":"#eee"},{"row":1,"col":19,"color":"#e65679"},{"row":1,"col":20,"color":"#eee"},{"row":1,"col":21,"color":"#eee"},{"row":1,"col":22,"color":"#eee"},{"row":1,"col":23,"color":"#eee"},{"row":1,"col":24,"color":"#e65679"},{"row":1,"col":25,"color":"#eee"},{"row":1,"col":26,"color":"#e65679"},{"row":1,"col":27,"color":"#eee"},{"row":1,"col":28,"color":"#eee"},{"row":1,"col":29,"color":"#eee"},{"row":1,"col":30,"color":"#eee"},{"row":1,"col":31,"color":"#eee"},{"row":1,"col":32,"color":"#eee"},{"row":1,"col":33,"color":"#e65679"},{"row":1,"col":34,"color":"#eee"},{"row":1,"col":35,"color":"#eee"},{"row":1,"col":36,"color":"#e65679"},{"row":1,"col":37,"color":"#eee"},{"row":1,"col":38,"color":"#eee"},{"row":1,"col":39,"color":"#e65679"},{"row":1,"col":40,"color":"#eee"},{"row":1,"col":41,"color":"#e65679"},{"row":1,"col":42,"color":"#eee"},{"row":1,"col":43,"color":"#eee"},{"row":1,"col":44,"color":"#eee"},{"row":1,"col":45,"color":"#eee"},{"row":1,"col":46,"color":"#e65679"},{"row":1,"col":47,"color":"#eee"},{"row":1,"col":48,"color":"#eee"},{"row":1,"col":49,"color":"#eee"},{"row":1,"col":50,"color":"#eee"},{"row":1,"col":51,"color":"#eee"},{"row":1,"col":52,"color":"#eee"},{"row":1,"col":53,"color":"#eee"},{"row":1,"col":54,"color":"#eee"},{"row":1,"col":55,"color":"#eee"},{"row":1,"col":56,"color":"#eee"},{"row":1,"col":57,"color":"#eee"},{"row":1,"col":58,"color":"#eee"},{"row":1,"col":59,"color":"#e65679"},{"row":1,"col":60,"color":"#eee"},{"row":2,"col":1,"color":"#eee"},{"row":2,"col":2,"color":"#eee"},{"row":2,"col":3,"color":"#eee"},{"row":2,"col":4,"color":"#eee"},{"row":2,"col":5,"color":"#eee"},{"row":2,"col":6,"color":"#eee"},{"row":2,"col":7,"color":"#eee"},{"row":2,"col":8,"color":"#eee"},{"row":2,"col":9,"color":"#eee"},{"row":2,"col":10,"color":"#eee"},{"row":2,"col":11,"color":"#eee"},{"row":2,"col":12,"color":"#eee"},{"row":2,"col":13,"color":"#eee"},{"row":2,"col":14,"color":"#eee"},{"row":2,"col":15,"color":"#eee"},{"row":2,"col":16,"color":"#eee"},{"row":2,"col":17,"color":"#eee"},{"row":2,"col":18,"color":"#eee"},{"row":2,"col":19,"color":"#eee"},{"row":2,"col":20,"color":"#eee"},{"row":2,"col":21,"color":"#84c0f9"},{"row":2,"col":22,"color":"#84c0f9"},{"row":2,"col":23,"color":"#eee"},{"row":2,"col":24,"color":"#eee"},{"row":2,"col":25,"color":"#eee"},{"row":2,"col":26,"color":"#84c0f9"},{"row":2,"col":27,"color":"#eee"},{"row":2,"col":28,"color":"#eee"},{"row":2,"col":29,"color":"#84c0f9"},{"row":2,"col":30,"color":"#eee"},{"row":2,"col":31,"color":"#eee"},{"row":2,"col":32,"color":"#eee"},{"row":2,"col":33,"color":"#eee"},{"row":2,"col":34,"color":"#eee"},{"row":2,"col":35,"color":"#eee"},{"row":2,"col":36,"color":"#eee"},{"row":2,"col":37,"color":"#eee"},{"row":2,"col":38,"color":"#eee"},{"row":2,"col":39,"color":"#eee"},{"row":2,"col":40,"color":"#84c0f9"},{"row":2,"col":41,"color":"#84c0f9"},{"row":2,"col":42,"color":"#eee"},{"row":2,"col":43,"color":"#eee"},{"row":2,"col":44,"color":"#eee"},{"row":2,"col":45,"color":"#eee"},{"row":2,"col":46,"color":"#eee"},{"row":2,"col":47,"color":"#eee"},{"row":2,"col":48,"color":"#eee"},{"row":2,"col":49,"color":"#eee"},{"row":2,"col":50,"color":"#eee"},{"row":2,"col":51,"color":"#eee"},{"row":2,"col":52,"color":"#eee"},{"row":2,"col":53,"color":"#eee"},{"row":2,"col":54,"color":"#eee"},{"row":2,"col":55,"color":"#eee"},{"row":2,"col":56,"color":"#eee"},{"row":2,"col":57,"color":"#eee"},{"row":2,"col":58,"color":"#84c0f9"},{"row":2,"col":59,"color":"#eee"},{"row":2,"col":60,"color":"#eee"},{"row":3,"col":1,"color":"#eee"},{"row":3,"col":2,"color":"#eee"},{"row":3,"col":3,"color":"#0cd551"},{"row":3,"col":4,"color":"#0cd551"},{"row":3,"col":5,"color":"#eee"},{"row":3,"col":6,"color":"#eee"},{"row":3,"col":7,"color":"#eee"},{"row":3,"col":8,"color":"#eee"},{"row":3,"col":9,"color":"#eee"},{"row":3,"col":10,"color":"#eee"},{"row":3,"col":11,"color":"#eee"},{"row":3,"col":12,"color":"#eee"},{"row":3,"col":13,"color":"#0cd551"},{"row":3,"col":14,"color":"#eee"},{"row":3,"col":15,"color":"#eee"},{"row":3,"col":16,"color":"#eee"},{"row":3,"col":17,"color":"#eee"},{"row":3,"col":18,"color":"#eee"},{"row":3,"col":19,"color":"#eee"},{"row":3,"col":20,"color":"#eee"},{"row":3,"col":21,"color":"#eee"},{"row":3,"col":22,"color":"#eee"},{"row":3,"col":23,"color":"#eee"},{"row":3,"col":24,"color":"#eee"},{"row":3,"col":25,"color":"#eee"},{"row":3,"col":26,"color":"#eee"},{"row":3,"col":27,"color":"#eee"},{"row":3,"col":28,"color":"#eee"},{"row":3,"col":29,"color":"#eee"},{"row":3,"col":30,"color":"#eee"},{"row":3,"col":31,"color":"#eee"},{"row":3,"col":32,"color":"#0cd551"},{"row":3,"col":33,"color":"#eee"},{"row":3,"col":34,"color":"#eee"},{"row":3,"col":35,"color":"#eee"},{"row":3,"col":36,"color":"#eee"},{"row":3,"col":37,"color":"#0cd551"},{"row":3,"col":38,"color":"#eee"},{"row":3,"col":39,"color":"#eee"},{"row":3,"col":40,"color":"#eee"},{"row":3,"col":41,"color":"#eee"},{"row":3,"col":42,"color":"#eee"},{"row":3,"col":43,"color":"#eee"},{"row":3,"col":44,"color":"#eee"},{"row":3,"col":45,"color":"#eee"},{"row":3,"col":46,"color":"#eee"},{"row":3,"col":47,"color":"#eee"},{"row":3,"col":48,"color":"#eee"},{"row":3,"col":49,"color":"#eee"},{"row":3,"col":50,"color":"#eee"},{"row":3,"col":51,"color":"#eee"},{"row":3,"col":52,"color":"#eee"},{"row":3,"col":53,"color":"#eee"},{"row":3,"col":54,"color":"#eee"},{"row":3,"col":55,"color":"#eee"},{"row":3,"col":56,"color":"#eee"},{"row":3,"col":57,"color":"#eee"},{"row":3,"col":58,"color":"#eee"},{"row":3,"col":59,"color":"#eee"},{"row":3,"col":60,"color":"#eee"},{"row":4,"col":1,"color":"#eee"},{"row":4,"col":2,"color":"#eee"},{"row":4,"col":3,"color":"#0a75db"},{"row":4,"col":4,"color":"#0a75db"},{"row":4,"col":5,"color":"#eee"},{"row":4,"col":6,"color":"#eee"},{"row":4,"col":7,"color":"#eee"},{"row":4,"col":8,"color":"#eee"},{"row":4,"col":9,"color":"#eee"},{"row":4,"col":10,"color":"#eee"},{"row":4,"col":11,"color":"#eee"},{"row":4,"col":12,"color":"#eee"},{"row":4,"col":13,"color":"#0a75db"},{"row":4,"col":14,"color":"#eee"},{"row":4,"col":15,"color":"#eee"},{"row":4,"col":16,"color":"#eee"},{"row":4,"col":17,"color":"#eee"},{"row":4,"col":18,"color":"#eee"},{"row":4,"col":19,"color":"#eee"},{"row":4,"col":20,"color":"#eee"},{"row":4,"col":21,"color":"#0a75db"},{"row":4,"col":22,"color":"#0a75db"},{"row":4,"col":23,"color":"#eee"},{"row":4,"col":24,"color":"#eee"},{"row":4,"col":25,"color":"#eee"},{"row":4,"col":26,"color":"#0a75db"},{"row":4,"col":27,"color":"#eee"},{"row":4,"col":28,"color":"#eee"},{"row":4,"col":29,"color":"#0a75db"},{"row":4,"col":30,"color":"#eee"},{"row":4,"col":31,"color":"#eee"},{"row":4,"col":32,"color":"#0a75db"},{"row":4,"col":33,"color":"#eee"},{"row":4,"col":34,"color":"#eee"},{"row":4,"col":35,"color":"#eee"},{"row":4,"col":36,"color":"#eee"},{"row":4,"col":37,"color":"#0a75db"},{"row":4,"col":38,"color":"#eee"},{"row":4,"col":39,"color":"#eee"},{"row":4,"col":40,"color":"#0a75db"},{"row":4,"col":41,"color":"#0a75db"},{"row":4,"col":42,"color":"#eee"},{"row":4,"col":43,"color":"#eee"},{"row":4,"col":44,"color":"#eee"},{"row":4,"col":45,"color":"#eee"},{"row":4,"col":46,"color":"#0a75db"},{"row":4,"col":47,"color":"#eee"},{"row":4,"col":48,"color":"#eee"},{"row":4,"col":49,"color":"#eee"},{"row":4,"col":50,"color":"#0a75db"},{"row":4,"col":51,"color":"#eee"},{"row":4,"col":52,"color":"#eee"},{"row":4,"col":53,"color":"#0a75db"},{"row":4,"col":54,"color":"#eee"},{"row":4,"col":55,"color":"#eee"},{"row":4,"col":56,"color":"#eee"},{"row":4,"col":57,"color":"#eee"},{"row":4,"col":58,"color":"#0a75db"},{"row":4,"col":59,"color":"#eee"},{"row":4,"col":60,"color":"#eee"}];
</script>

<div id="block-chart">
</div>

<table class="trends mky">
    <tr class="trend" style="border-left: solid 8px #e65679;">
      <td class="pdy">
        <h2 class="left fixed-width-6 cat-link pcl"><a href="/guide">drink</a></h2>
      </td>
        <td>
          <div class="hefty shrink">1.88</div>
          <div class="tiny lighter">per week</div>
          <div class="small mct"><strong>Last 16 weeks</strong></div>
        </td>
        <td>
          <div class="hefty shrink">1.75</div>
          <div class="tiny lighter">per week</div>
          <div class="small mct"><strong>Last 8 weeks</strong></div>
        </td>
        <td>
          <div class="hefty shrink">1.5</div>
          <div class="tiny lighter">per week</div>
          <div class="small mct"><strong>Last 4 weeks</strong></div>
        </td>
    </div>
    <tr class="trend" style="border-left: solid 8px #84c0f9;">
      <td class="pdy">
        <h2 class="left fixed-width-6 cat-link pcl"><a href="/guide">run</a></h2>
      </td>
        <td></td>
        <td></td>
        <td></td>
    </div>
    <tr class="trend" style="border-left: solid 8px #0cd551;">
      <td class="pdy">
        <h2 class="left fixed-width-6 cat-link pcl"><a href="/guide">swim</a></h2>
      </td>
        <td></td>
        <td></td>
        <td></td>
    </div>
    <tr class="trend" style="border-left: solid 8px #0a75db;">
      <td class="pdy">
        <h2 class="left fixed-width-6 cat-link pcl"><a href="/guide">workout</a></h2>
      </td>
        <td></td>
        <td></td>
        <td></td>
    </div>
</table>

<h2 class="mlb">Quantified Self, as simple as possible. <a href="/guide" class="psl">Guide</a> <a href="/signup" class="psl">Sign up</a></h2>
