#iphone_wrap {

  font-family: "Lucida Grande", "Verdana", sans-serif;
    
  #overall_karma {
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .positive {
    color: #29d045;
  }
  .negative {
    color: #dc1e10; 
  }
  
  h1 {
    font-size: 28px;
    letter-spacing: -1px;
    color: #222;
    padding: 0 0 7px;
    margin: 0 0 14px;
    border-bottom: solid 1px #d0d0d0;
  }
  
  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 14px;
  }
  
  .box {
    font-size: 12px;
    background-color: #F9F9F9;
    border: 1px solid #D0D0D0;
    color: #002166;
    margin: 0 0 14px;
    padding: 10px;
    
    .new_record {
      
      input {
        float: left;
      }
      input[type='text'] {
      	width: 60%;
        font-size: 15px;
        padding: 3px;
      }
      input[type='submit'] {
        font-size: 14px;
        margin: 6px 12px 0;
      }
    }
  }
  
  #records {
    width: 100%;
    margin: 0 0 14px;
    
    h2 {
      font-size: 18px;
      margin: 12px 0 6px;
      .movement {
        font-size: 12px;
        color: #999;
      }
    }
    
    .record {
      padding: 8px 10px;
      
      .timestamp {
        float: left;
        margin: 6px 16px 0 0;
        color: #222;
      }
      
      a.cat {
        float: left;
        background-color: #2560d4;
        color: white;
        padding: 4px 8px 7px;
        margin: 0 0 0 16px;
        border-radius: 6px;
        border-bottom: solid 1px #6993e5;
        border-top: solid 1px #183f8c;
        &:hover {
          opacity: 0.9;
        }
      }
      
      .karma {
        float: left;
        padding: 4px 5px 7px;
        margin: 0 0 0 6px;
        border-radius: 6px;
        font-weight: bold;
      }
      .destroy {
        float: right;
        color: #999;
        font-size: 11px;
        padding: 7px 0 0;
      }
      .edit {
        float: right;
        color: #999;
        font-size: 11px;
        padding: 7px 0 0;
      }
    }        
  }
}