<div class="mfb">
  <div>
    <%= render partial: "shared/cat", locals: {cat: @name, hue: hue_now, size: "hefty"} %>
  </div>
</div>

<div class="mfb pf bg-grey">
  <% if @cat.id %>
    <%= link_to 'Edit Cat Settings', "/cats/"+@cat.name+"/edit" %>
  <% else %>
    <%= link_to 'Start Tracking this Cat', new_cat_path(@cat, {name: @name}) %>
  <% end %>
</div>

<%= render partial: "shared/records", locals: {records: @records} %>

<% if !params[:all] && @records.count != @all_count %>
  <div class="mkt">
    <a href="?all=true">View all records</a>
  </div>
<% end %>
