
<div class="mfb">
  <% @trending_cats.each do |cat| %>
    <%= render partial: "shared/cat", locals: {cat: cat, hue: hue_now, size: "small"} %>
  <% end %>
</div>

<div class="mfb">
  <div>
    <%= render partial: "shared/cat", locals: {cat: @name, hue: hue_now, size: "hefty"} %>
  </div>
</div>

<div class="mfb pf bg-grey">
  <%= link_to 'Edit Cat Settings', edit_cat_path(@cat) %>
</div>

<%= render partial: "shared/records", locals: {records: @records} %>

<% if !params[:all] %>
  <div class="mkt">
    <a href="?all=true">View all records</a>
  </div>
<% end %>
